<p style="color: green"><%= notice %></p>

<h1>Users</h1>

<div id="users">
  <% @users.each do |user| %>                     <%# i %>
    <%= render user %>                            <%# i %>
    <p>
      <%# <%= link_to "Show this user", user %>        
      <%= link_to "Log in", login_path(user) %> |

      <%= link_to "Edit", edit_user_path(user) %>
      
    </p>
  <% end %>
</div>

<%= link_to "New user", new_user_path %>
